body { 
    font-family: Arial;
     text-align: center; 
     margin-top: 50px; }*/

    button { 
        margin: 10px;
        padding: 10px 20px;
        font-size: 
        16px; }


        #rolldiceimg{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

